<h1 class="text-center">Gestion des personnes </h1>

<form (ngSubmit)="ajout()">
    <fieldset>
        <legend>ajout d'un personne</legend>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">nom</label>
            <div class="col-sm-10">
              <input type="text" name="nom" class="form-control" id="nom" [(ngModel)]="personne.nom" placeholder="nom de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="prenom" class="col-sm-2 col-form-label">prenom</label>
            <div class="col-sm-10">
              <input type="text" name="prenom" class="form-control" id="prenom" [(ngModel)]="personne.prenom" placeholder="prenom de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">email</label>
            <div class="col-sm-10">
              <input type="text" name="email" class="form-control" id="email" [(ngModel)]="personne.email" placeholder="email de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">age</label>
            <div class="col-sm-10">
              <input type="number" name="age" class="form-control" id="age" [(ngModel)]="personne.age" placeholder="age de la personne">
            </div>
        </div>
        <div class="form-group row">
          <label for="tel" class="col-sm-2 col-form-label">numéro de téléphone</label>
          <div class="col-sm-10">
            <input type="text" name="tel" class="form-control" id="tel" [(ngModel)]="personne.tel" placeholder="téléphone de la personne">
          </div>
      </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="valider">
    </fieldset>
</form>
<!--
<form (ngSubmit)="csv()">
  <input type="file" name="file" (change)="selectEvent($event)" placeholder="importer un fichier csv">
  <input class="btn btn-primary btn-lg btn-block" type="submit" value="valider">
</form>

<form (ngSubmit)="research()">
  <fieldset>
    <legend>/legend>
    <div class="form-group row">
      <label for="someone" class="col-sm-2 col-form-label">personne</label>
      <div class="col-sm-10">
        <input type="text" name="someone" class="form-control" id="someone" [(ngModel)]="someone" placeholder="chercher une personne">
      </div>
  </div>
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="valider">
    <input class="btn btn-primary btn-lg btn-block" (click)="afficherAll()" value="réinitialiser">
  </fieldset>
</form>
-->


<p><input type="text" ng-model="test" id="myInput" onkeyup="myFunction()" placeholder="chercher une personne avec un nom"></p>

<div class="row">
  <div class="col-sm-8">
      <table class="table table-sm mt-2">
        <thead>
          <tr >
            <td>id</td>
            <td>nom</td>
            <td>prenom</td>
            <td>email</td>
            <td>age</td>
            <td>téléphone</td>
        </tr>
        </thead>
        <tbody id="myTbody">
          <tr *ngFor="let perso of personnes">
            <td>{{perso.id}}</td>
            <td>{{perso.nom}}</td>
            <td>{{perso.prenom}}</td>
            <td>{{perso.email}}</td>
            <td>{{perso.age}}</td>
            <td>{{perso.tel}}</td>
            <td><a (click)="supprimer(perso.id)" class="link-danger">supprimer n°{{perso.id}}</a></td>
            <td><a (click)="modifier(perso.id)" class="link-warning">modifier n°{{perso.id}}</a></td>
            <td><a (click)="affectation(perso.id)"class="link-warning">ajouter en tant que participant</a></td>
            <td><a (click)="message(perso.id)"class="link-warning">contacter la personne</a></td>
          </tr>
        </tbody>
        
      </table>
  </div>
</div>
