<h1 class="text-center">Gestion des utilisateurs </h1>

<form (ngSubmit)="ajout()">
    <fieldset>
        <legend>ajout d'un personne</legend>
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">nom</label>
            <div class="col-sm-10">
              <input type="text" name="nom" class="form-control" id="nom" [(ngModel)]="utilisateur.nom" placeholder="nom de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="prenom" class="col-sm-2 col-form-label">prenom</label>
            <div class="col-sm-10">
              <input type="text" name="prenom" class="form-control" id="prenom" [(ngModel)]="utilisateur.prenom" placeholder="prenom de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">email</label>
            <div class="col-sm-10">
              <input type="text" name="email" class="form-control" id="email" [(ngModel)]="utilisateur.email" placeholder="email de la personne">
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">age</label>
            <div class="col-sm-10">
              <input type="number" name="age" class="form-control" id="age" [(ngModel)]="utilisateur.age" placeholder="age de la personne">
            </div>
        </div>
        <div class="form-group row">
          <label for="tel" class="col-sm-2 col-form-label">numéro de téléphone</label>
          <div class="col-sm-10">
            <input type="text" name="tel" class="form-control" id="tel" [(ngModel)]="utilisateur.tel" placeholder="téléphone de la personne">
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">nom d'utilisateur</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="username" [(ngModel)]="utilisateur.username" placeholder="nom de l'utilisateur">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">mot de passe</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" [(ngModel)]="utilisateur.password" placeholder="mot de passe de l'utilisateur">
          </div>
        </div>
        <select class="custom-select" [required]="true" name="personne" [(ngModel)]="idrole">
            <option *ngFor="let role of roles" [value]="role.id">{{role.nom}}</option>
        </select> <br>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="valider">
    </fieldset>
</form>


<div class="row">
    <div class="col-sm-8">
        <table class="table table-sm mt-2">
          <tr >
            <td>id</td>
            <td>nom</td>
            <td>prenom</td>
            <td>email</td>
            <td>age</td>
            <td>téléphone</td>
            <td>role</td>
          </tr>
          <tr *ngFor="let u of utilisateurs">
            <td>{{u.id}}</td>
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.email}}</td>
            <td>{{u.age}}</td>
            <td>{{u.tel}}</td>
            <td>{{u.role.nom}}</td>
            <td><a (click)="supprimer(u.id)" class="link-danger">supprimer n°{{u.id}}</a></td>
            <td><a (click)="modifier(u.id)" class="link-warning">modifier n°{{u.id}}</a></td>
          </tr>
        </table>
    </div>
  </div>