<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-4 border-left border-primary">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group mb-2">
                <label for="1">Nom</label>
                <input type="text" id="1" class="form-control" [(ngModel)]="user.nom" name="nom" [disabled]="!modif" [required]="true"/>
            </div>
            <div class="form-group mb-2">
                <label for="2">Prenom</label>
                <input type="text" id="2" class="form-control" [(ngModel)]="user.prenom" name="prenom" [disabled]="!modif" [required]="true"/>
            </div>
            <div class="form-group mb-2">
                <label for="3">Age</label>
                <input id="3" class="form-control" [(ngModel)]="user.age" name="age" [disabled]="!modif" [required]="true"/>
            </div>
            <div class="form-group mb-2">
                <label for="4">E-mail</label>
                <input id="4" type="email" class="form-control" [(ngModel)]="user.email" name="email" [disabled]="!modif" [required]="true"/>
            </div>
            <div class="form-group mb-2">
                <label for="5">Téléphone</label>
                <input id="5" type="tel" class="form-control" [(ngModel)]="user.tel" name="tel" [disabled]="!modif" [required]="true"/>
            </div>
            <div class="form-group mb-2">
                <label for="6">Nom d'utilisateur</label>
                <input id="6" class="form-control" [(ngModel)]="user.username" name="username" [disabled]="!modif" [required]="true"/>
            </div>
            <input type="submit" class="btn btn-primary mb-4" [hidden]="hidden1" value="Valider">
        </form>
        <div class="btn btn-secondary mb-4" id="btn" (click)="modifCompte()">Modifier mes informations</div>
        <form #f="ngForm" (ngSubmit)="onSubmit_2nd(f)">
            <div class="form-group mb-2">
                <input id="7" class="form-control" type="password" [(ngModel)]="mpts" name="mpts" placeholder="Ancien mot de passe" [disabled]="!modif2" [required]="true">
            </div>
            <div class="form-group">
                <input id="8" class="form-control" type="password" [(ngModel)]="mpts_new" name="mpts_new" placeholder="Nouveau mot de passe" [disabled]="!modif2" [required]="true">
                <input type="submit" id="modifMpts" class="btn btn-primary mt-2" [hidden]="hidden2" value="Valider">
            </div>
            <div class="btn btn-secondary mt-2" id="btn2" (click)="modifMpts()">Modifier le mot de passe</div>
        </form>
    </div>
    
    <div class="col-sm-6"></div>
</div>
