<ul *ngIf="user == null" class="nav nav-tabs mb-5">

    <li class="nav-item">
       <a class="nav-link active" routerLink="connexion"> connexion </a> 
    </li> 
    
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
</ul>

<ul *ngIf="user != null && user.role.nom == 'admin'" class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link active" routerLink="formation">Formation</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link active" routerLink="admin/formateur">Formateurs</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="admin/utilisateur">Utilisateurs</a> 
    </li>
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
    <li class="nav-item">
        <a class="nav-link active" routerLink="/MonCompte">{{user.nom}} {{user.prenom}}</a> 
    </li>
    <li class="nav-item">
        <a  (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
</ul>

<ul *ngIf="user != null && user.role.nom == 'formateur'" class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link active" routerLink="formateur/perso">Mes formations</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/MonCompte">{{user.nom}} {{user.prenom}}</a> 
    </li>
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
    <li class="nav-item">
        <a (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
    
</ul>

<ul *ngIf="user != null && user.role.nom == 'participant'" class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/formation">Mes formations</a> 
    </li>
    <li class="nav-item">

        <a class="nav-link active" routerLink="formation">formations</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="participant/paiement">Mes paiements</a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/MonCompte">{{user.nom}} {{user.prenom}}</a> 
    </li>
    <li class="nav-item">
        <a (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
    
</ul>

<ul *ngIf="user != null && user.role.nom == 'commercial'" class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link active" routerLink="formation"> Formation</a>
    </li> 

    <li class="nav-item">
        <a class="nav-link active" routerLink="commercial/inscription"> inscription </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="commercial/personnne"> Personne </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="commercial/rdv"> RDV </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="commercial/historique/0"> Historique</a> 
    </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/MonCompte">{{user.nom}} {{user.prenom}}</a> 
    </li>
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
    <li class="nav-item">
        <a (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
    
</ul>

<ul *ngIf="user != null && user.role.nom == 'assistant'" class="nav nav-tabs mb-5">
    <li class="nav-item">
        <a class="nav-link active" routerLink="formation">Formations</a> 
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="/MonCompte">{{user.nom}} {{user.prenom}}</a> 
    </li>

    <li class="nav-item">
        <a class="nav-link active" routerLink="/assistant/paiement">Paiements</a> 
    </li>
    <!--<li class="nav-item">
        <a (click)="exportAnnonce()" class="nav-link active"> exporter des annonces </a> 
    </li>
    <li class="nav-item">
        <a class="nav-link active"> exporter des utilisateurs </a> 
    </li>-->
    <li class="nav-item">
        <a (click)="logout()" class="nav-link active" routerLink=#> deconnexion </a> 
    </li>
    
</ul>
